{% extends "core/base.html" %}

{% block content %}
<h3 class="text-center">{{ encuesta.titulo }}</h3>

{% for opcion in encuesta.opcion_set.all %}
<div class="mb-2">
  <p class="mb-0"><strong>{{ opcion.opcion }}</strong></p>
  <div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"  id="opcion{{ forloop.counter}}"></div>
  </div>
  <p class="text-end mb-0">
    <span id="porcentaje{{ forloop.counter }}"></span>% <span>({{ opcion.votos }} votos)</span>
  </p>
</div>
{% endfor %}

{% endblock %}
{% block js %}
<script>
  {% spaceless %}
    var total =
    {% for opcion in encuesta.opcion_set.all %}
      {{opcion.votos}} +
    {% endfor %}
    0;
    {% for opcion in encuesta.opcion_set.all %}
      var o{{forloop.counter}} = document.getElementById('opcion{{ forloop.counter}}');
      var percent = total > 0 ? ({{opcion.votos}}*100/total).toFixed(2) : 0;
      o{{forloop.counter}}.style.width = percent + '%';
      o{{forloop.counter}}.setAttribute('aria-valuenow', percent);
      var p{{forloop.counter}} = document.getElementById('porcentaje{{ forloop.counter}}');
      p{{forloop.counter}}.innerText = percent;
    {% endfor %}
    {% endspaceless %}
</script>
{% endblock %}
